<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/WEB-INF/templates/default.xhtml">
   <ui:define name="content">
      <h1>Employees</h1>
      <h:form id="editEmp">
      		<table>
      			<tr>
					<td><h:outputLabel for="inputFirstName" value="#{msgs['empView.table.header.firstName']}"></h:outputLabel></td>
					<td><h:inputText id="inputFirstName" value="#{empView.selectedEmployee.firstName}" /></td>
					<td><h:message for="inputFirstName" showDetail="false" showSummary="true"/></td>
				</tr>
				<tr>
					<td><h:outputLabel for="inputLastName" value="#{msgs['empView.table.header.lastName']}"></h:outputLabel></td>
					<td><h:inputText id="inputLastName" value="#{empView.selectedEmployee.lastName}" /></td>
					<td><h:message for="inputLastName" showDetail="false" showSummary="true"/></td>
				</tr>
			</table>
			<h:commandButton action="#{empView.saveEmployee}" value="#{msgs['button.save']}"></h:commandButton>
		</h:form>
   </ui:define>
</ui:composition>