<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/WEB-INF/templates/default.xhtml">
   <ui:define name="content">
      <h1>Employees</h1>
      <h:form id="emp">
			<h:selectOneMenu 
				id="selectDepts" 
				value="#{empView.selectedDepartment}" 
				valueChangeListener="#{empView.onUpdateDepartment}">
				<f:selectItems value="#{empView.departments}" />
				<f:ajax render="empTable" />
			</h:selectOneMenu>
			<h:dataTable id="empTable" value="#{empView.employees}" var="emp">
                      <h:column>
                          <f:facet name="header" >
                              <h:outputText value="#{msgs['empView.table.header.number']}"/>
                          </f:facet>    
                          <h:outputText value="#{emp.employeeId}"/>
                      </h:column>
                      <h:column>
                          <f:facet name="header" >
                              <h:outputText value="#{msgs['empView.table.header.firstName']}"/>
                          </f:facet>    
                          <h:outputText value="#{emp.firstName}"/>
                      </h:column>
                      <h:column>
                          <f:facet name="header" >
                              <h:outputText value="#{msgs['empView.table.header.lastName']}"/>
                          </f:facet>    
                          <h:outputText value="#{emp.lastName}"/>
                      </h:column>
                      <h:column>
                          <f:facet name="header" >
                              <h:outputText value="#{msgs['empView.table.header.department']}"/>
                          </f:facet>    
                          <h:outputText value="#{emp.department.departmentName}"/>
                      </h:column>
                      <h:column>
                          <f:facet name="header" >
                              <h:outputText value="#{msgs['button.edit']}"/>
                          </f:facet>    
						<h:commandButton id="empEdit" action="editEmployee" actionListener="#{empView.onEditEmployee}" value="#{msgs['button.edit']}">
							<f:param id="employeeId" name="employeeId" value="#{emp.employeeId}" />
						</h:commandButton>
                      </h:column>                       
                  </h:dataTable>
      </h:form>
   </ui:define>
</ui:composition>
